
body{
    margin: 0;
    background: #00000020;
}
.titulo {
    text-align: center;
    background: white;
    padding: 10px;
    margin-bottom: 5px;

}
.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


div.post{
    background: white;
    margin-top: 10px;
}

.post-img{
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
}
 
div.post .post-header1 {
    display: inline-block;
    width: 80%;
}
div.post .post-header1 {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}  
div.post h2, div.post {
    padding: 10px;
    margin: 0;
}
div.container{
    width: 600px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 5%;
}

.footer {
    width: 600px;
    padding: 10px;
}
